In [2]:
import pandas as pd

In [22]:
path = "Resources\DataOne_sb.csv"
"C:\ai_bootcamp\04-Pandas-Data-Preparation-1\MySandbox\pandas_test02.ipynb"
path02 = "..\..\1\03-Ins_Reading_Writing_CSV\Resources\DataOne.csv"
# path02 = "..\1\03-Ins_Reading_Writing_CSV\Resources\DataOne.csv"
df = pd.read_csv(path02)
df

OSError: [Errno 22] Invalid argument: '..\\..\x01\x03-Ins_Reading_Writing_CSV\\Resources\\DataOne.csv'

In [24]:


# Create a DataFrame with "carbonated?", "temperature", "sugar(tsp.)", and "calories" columns:
df = pd.DataFrame([
  {'drink': 'soda', 'carbonated?': True, 'temperature': 'cold', 'sugar(tsp)': 10.5, 'calories': 150},
  {'drink': 'coffee', 'carbonated?': False, 'temperature': 'hot', 'sugar(tsp)': 3, 'calories': 31}, 
  {'drink': 'smoothie', 'carbonated?': False, 'temperature': 'cold', 'sugar(tsp)': 6, 'calories': 85}, 
  {'drink': 'water', 'carbonated?': False, 'temperature': 'cold', 'sugar(tsp)': 0, 'calories': 0},
  {'drink': 'tea', 'carbonated?': False, 'temperature': 'hot', 'sugar(tsp)': 2, 'calories': 43}, 
  {'drink': 'lemonade', 'carbonated?': False, 'temperature': 'cold', 'sugar(tsp)': 9.5, 'calories': 125},
  {'drink': 'slushy', 'carbonated?': False, 'temperature': 'cold', 'sugar(tsp)': 8, 'calories': 99},
])

df

      drink  carbonated? temperature  sugar(tsp)  calories
0      soda         True        cold        10.5       150
1    coffee        False         hot         3.0        31
2  smoothie        False        cold         6.0        85
3     water        False        cold         0.0         0
4       tea        False         hot         2.0        43
5  lemonade        False        cold         9.5       125
6    slushy        False        cold         8.0        99

In [25]:
# Set the row label indexes to the "drink" column:
df.set_index('drink', inplace = True)
df

          carbonated? temperature  sugar(tsp)  calories
drink
soda             True        cold        10.5       150
coffee          False         hot         3.0        31
smoothie        False        cold         6.0        85
water           False        cold         0.0         0
tea             False         hot         2.0        43
lemonade        False        cold         9.5       125
slushy          False        cold         8.0        99

In [28]:

df.loc['tea']
# Retrieving the row at index 2

df.iloc[2]

iloc

carbonated?    False
temperature     cold
sugar(tsp)       6.0
calories          85
Name: smoothie, dtype: object

In [34]:
# Selecting a Single Row as a DataFrame
#   If we want the row returned as a DataFrame, 
#   we use a list with only one element

df.loc[['tea']]

          carbonated? temperature  sugar(tsp)  calories
drink
soda             True        cold        10.5       150
coffee          False         hot         3.0        31
smoothie        False        cold         6.0        85
water           False        cold         0.0         0
tea             False         hot         2.0        43
lemonade        False        cold         9.5       125
slushy          False        cold         8.0        99

In [35]:
df.iloc[[1]]

        carbonated? temperature  sugar(tsp)  calories
drink
coffee        False         hot         3.0        31

In [36]:
df

          carbonated? temperature  sugar(tsp)  calories
drink
soda             True        cold        10.5       150
coffee          False         hot         3.0        31
smoothie        False        cold         6.0        85
water           False        cold         0.0         0
tea             False         hot         2.0        43
lemonade        False        cold         9.5       125
slushy          False        cold         8.0        99

### Difference Between loc and iloc
+ loc function selects rows using _row labels_ (e.g. tea) 
+ iloc function selects rows using their _integer positions_ (starting from 0 and going up by one for each row).

iloc: index-based-location
loc: label based locating